@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Joel Hilton Movie Collection Home Page</h1>
    <br />
    <img src="~/img/joel.jpg" alt="A picture of Joel Hilton" />
</div>
